body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('rule.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;

  }

#p1{
  background-color: Red;
}
#p2{
  background-color: Blue;
}
#p3{
  background-color: Yellow;
}
h3{
  background-color: Green;
